target/
*.jar
*.war
*.ear
*.class

# Archivos de configuración locales
src/main/resources/application.properties

nbproject/private/
nbproject/project.properties
nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

Thumbs.db
.DS_Store

.env
*.properties.local